<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<TestRunParameters>
		<Parameter name="Browser" value="Chromium" />
		<Parameter name="Headless" value="false" />
		<Parameter name="BaseUrl" value="https://www.bbc.com/weather" />
		<Parameter name="Username" value="" />
		<Parameter name="Password" value="" />
	</TestRunParameters>

</RunSettings>
